.loading-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-view-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 678px) {
    height: 620px;
  }
}
.movies-list-container {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 678px) {
    padding-top: 100px;
  }
}
.not-found-heading {
  font-family: Roboto;
}
.not-found-text {
  font-family: Roboto;
  font-size: 17px;
}
