.loading-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-cast-list {
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.cast-heading {
  font-family: Roboto;
  font-size: 15px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-top: 40px;
  }
}
.cast-details-container {
  padding-left: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 40px;
  }
}
